.stats-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 20px;
  background-color: #000000; /* خلفية داكنة */
  color: white;
  text-align: center;
  direction: rtl;
  gap: 30px;
}

.stat-box {
  min-width: 150px;
}

.stat-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
}

.stat-label {
  font-size: 1.1rem;
  margin-top: 8px;
  color: #cccccc;
}

